.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
}

.dropdown:hover .dropdown-content,
.dropdown:focus-within .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  padding: 10px 15px;
  color: #e6e6fa;
  /* lavender */
  background-color: #9932cc;
  /* darkorchid */
}

.dropdown-content a:hover {
  background-color: #8a2be2;
  /* blueviolet */
}